target/classes/Turno.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:sqlserver://${db.server}:${db.port};databaseName=${db.databasename}; user=${db.username};password=${db.password}" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" doc:name="Generic Database Configuration"/>
    <flow name="TurnoFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="15000" startDelay="10000"/>
            <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[SELECT
[ValorParametroBomba]
  FROM [Catalogos].[BombaParametro]
  where [ParametroBomba] = 'RutaTurnoBomba' and IdEstacion=${db.station}]]></db:parameterized-query>

            </db:select>
        </poll>
        <logger message="~~~~~~~~~~INICIO FLUJO TURNO~~~~~~~~~~" level="INFO" doc:name="Logger"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <set-variable variableName="Tpath" value="#[payload.ValorParametroBomba]" doc:name="Variable"/>
        <logger message="========== Analizando Ruta: #[flowVars.Tpath]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="Tarchivo" value="#[org.mule.util.FileUtils.listFiles(new java.io.File(flowVars.Tpath.toString()),null,false)]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.Tarchivo.toString() != &quot;[]&quot;]">
                <set-variable variableName="Tjson" value="#[flowVars.Tarchivo.toString().replace('[','[{&quot;ruta&quot;:&quot;').replace(', ','&quot;},{&quot;ruta&quot;:&quot;').replace(']','&quot;}]')]" mimeType="text/json" doc:name="Variable"/>
                <set-payload value="#[flowVars.Tjson.toString().replace('\\','/')]" doc:name="Set Payload"/>
                <json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object"/>
                <logger message="========== ARCHIVOS: #[message.payload]" level="INFO" doc:name="Logger"/>
                <splitter expression="#[message.payload]" doc:name="Splitter"/>
                <set-payload value="#[message.payload]" doc:name="Set Payload"/>
                <logger message="========== Procesando archivo: #[payload.ruta]" level="INFO" doc:name="Logger"/>
                <mulerequester:request resource="file:///#[payload.ruta]" returnClass="java.lang.String" doc:name="Mule Requester"/>
                <db:stored-procedure config-ref="Generic_Database_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[{call dbo.sp_Ins_Tb_Turno2
(:@IdTicket,:@Tipo,:@NDespachador,:@LTSTotal,:@ImporteTotal,:@Inicio,:@Fin,:@NVentas,:@NoUsado1,:@NoUsado2,:@NoUsado3,:@InicioTotalizador,:@FinalTotalizador,:@InicioTicket,:@FinalTicket,:@LTSP1Cilindro,:@ImporteP1Cilindro,:@LTSP2Cilindro,:@ImporteP2Cilindro,:@LTSCilindro,:@ImporteCilindro,:@LTSP1Carburacion,:@ImporteP1Carburacion,:@LTSP2Carburacion,:@ImporteP2Carburacion,:@LTSCarburacion,:@ImporteCarburacion,:@PrecioP1,:@PrecioP2,:@Nombre,:@IdEstacion,:@IdEmpresa)}]]></db:parameterized-query>
                    <db:in-param name="@IdTicket" value="#[message.payloadAs(java.lang.String).toString().substring(0,13)]"/>
                    <db:in-param name="@Tipo" value="#[message.payloadAs(java.lang.String).toString().substring(13,14)]"/>
                    <db:in-param name="@NDespachador" value="#[message.payloadAs(java.lang.String).toString().substring(14,20)]"/>
                    <db:in-param name="@LTSTotal" value="#[message.payloadAs(java.lang.String).toString().substring(20,26)]"/>
                    <db:in-param name="@ImporteTotal" value="#[message.payloadAs(java.lang.String).toString().substring(26,34)]"/>
                    <db:in-param name="@Inicio" value="#[message.payloadAs(java.lang.String).toString().substring(34,46)]"/>
                    <db:in-param name="@Fin" value="#[message.payloadAs(java.lang.String).toString().substring(46,58)]"/>
                    <db:in-param name="@NVentas" value="#[message.payloadAs(java.lang.String).toString().substring(58,62)]"/>
                    <db:in-param name="@NoUsado1" value="#[message.payloadAs(java.lang.String).toString().substring(62,70)]"/>
                    <db:in-param name="@NoUsado2" value="#[message.payloadAs(java.lang.String).toString().substring(70,78)]"/>
                    <db:in-param name="@NoUsado3" value="#[message.payloadAs(java.lang.String).toString().substring(78,86)]"/>
                    <db:in-param name="@InicioTotalizador" value="#[message.payloadAs(java.lang.String).toString().substring(86,95)]"/>
                    <db:in-param name="@FinalTotalizador" value="#[message.payloadAs(java.lang.String).toString().substring(95,104)]"/>
                    <db:in-param name="@InicioTicket" value="#[message.payloadAs(java.lang.String).toString().substring(104,117)]"/>
                    <db:in-param name="@FinalTicket" value="#[message.payloadAs(java.lang.String).toString().substring(117,130)]"/>
                    <db:in-param name="@LTSP1Cilindro" value="#[message.payloadAs(java.lang.String).toString().substring(130,136)]"/>
                    <db:in-param name="@ImporteP1Cilindro" value="#[message.payloadAs(java.lang.String).toString().substring(136,144)]"/>
                    <db:in-param name="@LTSP2Cilindro" value="#[message.payloadAs(java.lang.String).toString().substring(144,150)]"/>
                    <db:in-param name="@ImporteP2Cilindro" value="#[message.payloadAs(java.lang.String).toString().substring(150,158)]"/>
                    <db:in-param name="@LTSCilindro" value="#[message.payloadAs(java.lang.String).toString().substring(158,164)]"/>
                    <db:in-param name="@ImporteCilindro" value="#[message.payloadAs(java.lang.String).toString().substring(164,172)]"/>
                    <db:in-param name="@LTSP1Carburacion" value="#[message.payloadAs(java.lang.String).toString().substring(172,178)]"/>
                    <db:in-param name="@ImporteP1Carburacion" value="#[message.payloadAs(java.lang.String).toString().substring(178,186)]"/>
                    <db:in-param name="@LTSP2Carburacion" value="#[message.payloadAs(java.lang.String).toString().substring(186,192)]"/>
                    <db:in-param name="@ImporteP2Carburacion" value="#[message.payloadAs(java.lang.String).toString().substring(192,200)]"/>
                    <db:in-param name="@LTSCarburacion" value="#[message.payloadAs(java.lang.String).toString().substring(200,206)]"/>
                    <db:in-param name="@ImporteCarburacion" value="#[message.payloadAs(java.lang.String).toString().substring(206,214)]"/>
                    <db:in-param name="@PrecioP1" value="#[message.payloadAs(java.lang.String).toString().substring(214,220)]"/>
                    <db:in-param name="@PrecioP2" value="#[message.payloadAs(java.lang.String).toString().substring(220,226)]"/>
                    <db:in-param name="@Nombre" value="#[message.payloadAs(java.lang.String).toString().substring(226,252)]"/>
                    <db:in-param name="@IdEstacion" value="${db.station}"/>
                    <db:in-param name="@IdEmpresa" value="${db.empresa}"/>
                </db:stored-procedure>
                <file:outbound-endpoint path="${db.tbackup}" outputPattern="#[message.inboundProperties.originalFilename].BKP" responseTimeout="10000" doc:name="File"/>
                <logger message="========== Archivo procesado: #[message.inboundProperties.originalFilename]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="========== No se encontraron archivos" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="&#161;&#161;&#161; HA OCURRIDO UN ERROR  EN FLUJO TURNOS !!!" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>

    </flow>
</mule>